
body {
  margin: 0;
}

nav {
  /* background-color: #05386b; */
  /* background-color: #ECECEC; */
  background-color: #EB554D;
  /* background-color: #A8DADC; */
  overflow: hidden;
  /* color: #05386b; */
  color: #ECECEC;
  /* color: #EB554D; */
}

canvas {
  height: calc(100vh - 50px);
  z-index: -100 !important;
  position: static !important;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

:hover.nav-item-right  {
  background-color: #ECECEC;
  background-color: #3A4454;
}

#active-nav-item {
  background-color: #4CAF50;
}

.nav-item-left {
  display: inline;
  padding: 8px;
  float: left;
}

.nav-item-right {
  display: inline;
  padding: 8px;
  float: right;
}

.title {
  z-index: 1;
  position: relative;
}

#greeting-homepage {
  position: absolute;
  z-index: 1;
  color: #3A4454;
  font-size: 40px;
  padding-top: 8vw;
  padding-left: 15vw;
}

form {
  position: absolute;
  z-index: 2;
  padding-top: 20vw;
  padding-left: 15vw;

}

#search-form-homepage {
  max-width: 60vw;
}


input#search-bar-homepage  {
  width: 70vw;
  border-radius: 80px;
  height: 50px;
  max-height: 50px;
  text-align: center;
  font-size: 20px;
  border: none;
  font-weight: 500;
  opacity: 0.9;
  background-color: #ECECEC;

  /* width: calc(100% - 50px); */
}

::placeholder {
  color:#3A4454;
}

#search-bar-homepage:focus {
  color:#3A4454;
}


/* TODO Ask Luke: what is best practice with CSS in terms of vw em px */
input#submit-homepage {
  border-radius: 80px;
  height: 30px;
  width: 15vw;
  border: none;
  opacity: 0.85;
  cursor: pointer;
  background-color: #ECECEC;
  color: #3A4454;
  width: 20%;
  margin-top: 30px;
  margin-left: 25vw;
}

input#submit-homepage:hover {
  background-color: #EB554D;
}

/* Link Tags in Nav */
a {
  text-decoration: none;
  color: #ECECEC;
}
